{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8">
	<title>{% block title %} Gatekeeper {% endblock %}</title>
	{% block styles %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'gatekeeper/css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'gatekeeper/style.css' %}">
	{% endblock %}

</head>
<body>	
{% include "header.html" %}
	<div class="container">
{% block content %}

{% endblock %}
{% block scripts %}
	<script src="{% static 'gatekeeper/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'gatekeeper/js/materialize.js' %}"></script>
	<script src="{% static 'gatekeeper/scripts.js' %}"></script>
{% endblock %}
	</div>
</body>
</html>