.nav-wrapper{
	/* blue darken-4 */
	background-color: #0d47a1;
}

.last-entries span.badge{
	background-color: #e64a19;
	border-radius: 10px;
	color: #fff;
}

.search-header{
	margin-bottom: 30px;
}

.map-sugestions iframe{
	width: 100%;
}