/* Queries */
/* Colors */
/* Styles */
/* line 19, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #01579b; }

/* line 23, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #b3e5fc; }

/* line 27, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
header nav {
  background-color: #0d47a1; }

/* line 31, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.last-entries span.badge {
  background-color: #e64a19;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  width: 30px;
  min-width: unset;
  padding: unset;
  padding-top: 4px; }

/* line 42, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.position span.badge {
  background-color: #e64a19;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
  min-width: unset;
  padding: unset;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 0;
  margin-top: 10px;
  font-size: 20px; }

/* line 57, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.search-header {
  margin-bottom: 30px; }

/* line 61, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1; }

/* line 79, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0d47a1; }

/* line 95, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.input-field .prefix.active {
  color: #0d47a1; }

/* Map */
/* line 100, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
.map-sugestions iframe {
  width: 100%; }

@media (min-width: 1200px) {
  /* line 105, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
  .map-sugestions iframe {
    height: 400px; } }

@media (max-width: 1024px) {
  /* line 111, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
  .map-sugestions iframe {
    height: 300px; } }

@media (max-width: 768px) {
  /* line 117, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
  .map-sugestions iframe {
    height: 200px; } }

@media (max-width: 520px) {
  /* line 123, /home/edely/Documentos/Projetos-Code/learning-django/gatekeeper/mysite/gatekeeper/static/gatekeeper/style.scss */
  .map-sugestions iframe {
    height: 100px; } }

/*# sourceMappingURL=style.css.map */