/* Queries */

$smartphone: 520px;
$tablet: 768px;
$desktop: 1024px;
$notebook: 1200px;

/* Colors */

$blue-darken-4: #0d47a1;
$deep-orange-darken-2: #e64a19;
$light-blue-darken-4: #01579b;
$light-blue-lighten-4: #b3e5fc;



/* Styles */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
	color: $light-blue-darken-4;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
	color: $light-blue-lighten-4;
}

header nav{
	background-color: $blue-darken-4;
}

.last-entries span.badge{
	background-color: $deep-orange-darken-2;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    width: 30px;
    min-width: unset;
    padding: unset;
    padding-top: 4px;
}

.position span.badge{
    background-color: #e64a19;
    border-radius: 50%;
    color: #fff;
    height: 40px;
    width: 40px;
    min-width: unset;
    padding: unset;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
}

.search-header{
	margin-bottom: 30px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid $blue-darken-4;
	-webkit-box-shadow: 0 1px 0 0 $blue-darken-4;
        box-shadow: 0 1px 0 0 $blue-darken-4;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
 	color: $blue-darken-4;
}

.input-field .prefix.active {
    color: $blue-darken-4;
}

/* Map */
.map-sugestions iframe{
	width: 100%;
}

@media(min-width: $notebook){
	.map-sugestions iframe{
		height: 400px;
	}
}

@media(max-width: $desktop){
	.map-sugestions iframe{
		height: 300px;
	}
}

@media(max-width: $tablet){
	.map-sugestions iframe{
		height: 200px;
	}
}

@media(max-width: $smartphone){
	.map-sugestions iframe{
		height: 100px;
	}
}