/* Queries */
/* Colors */
/* Styles */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #01579b; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #b3e5fc; }

.nav-wrapper {
  background-color: #0d47a1; }

.last-entries span.badge {
  background-color: #e64a19;
  border-radius: 50%;
  color: #fff;
  height: 30px;
  width: 30px;
  min-width: unset;
  padding: unset;
  padding-top: 4px; }

.position span.badge {
  background-color: #e64a19;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
  min-width: unset;
  padding: unset;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 0;
  margin-top: 10px;
  font-size: 20px; }

.search-header {
  margin-bottom: 30px; }

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0d47a1; }

.input-field .prefix.active {
  color: #0d47a1; }

/* Map */
.map-sugestions iframe {
  width: 100%; }

@media (min-width: 1200px) {
  .map-sugestions iframe {
    height: 400px; } }
@media (max-width: 1024px) {
  .map-sugestions iframe {
    height: 300px; } }
@media (max-width: 768px) {
  .map-sugestions iframe {
    height: 200px; } }
@media (max-width: 520px) {
  .map-sugestions iframe {
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
